# Public mods not to track:
*.exe
*.cfg
*.fv
*/audio
*/banks
*/content/*
*/gui/*
*/maps
*/scripts
*/spaces
*/system
*/*.xml
official/*.po
!*/content/gameplay
*/content/gameplay/*
!*/content/gameplay/common
*/content/gameplay/common/*
!*/content/gameplay/common/flags
!*/gui/flash
*/gui/flash/*
!*/gui/flash/fonts_ASIA.swf
!*/camouflages.xml
!*/fontconfig.xml
!*/locale_config.xml

# Backup files
*.o

# Windows stupid system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OS X leftovers
.DS_Store
.AppleDouble
.LSOverride
._*
