# Public mods not to track:
*/audio
*/camerasConsumer.xml
*/content/gameplay/japan
*/gui/*
!*/gui/flash/
*/gui/flash/*
!*/gui/flash/fonts_all.swf
*/postfx_animations.xml
*/scripts
*/spaces/*
!*/spaces/Dock_ocean
*/windows_consumer.xml

# Backup files
*.o

# Windows stupid system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OS X leftovers
.DS_Store
.AppleDouble
.LSOverride
._*
